.navbar{
    width: 100%;
    border-bottom:0.5px solid #e6e4e4;
    /* border: 0.5px solid #000000 */
}
.nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menu-btn{
    display: none;
    padding-left:  15px;
    font-size: 20px;
    z-index: 12;
}
.custom-button{
    background: #3E56A2;
    color: white;
    padding: 5px 10px; 
    border: none;
    border-radius: 5px;
    width: 100%;

}
.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transition for smooth icon rotation animation */
  }
  .menu-btn.close{
    display: block;
  }
  .menu-btn.unclose{
    display: none;
  }
  .menu-btn.open {
   display: none; /* Rotate the icon when menu is open */
  }
  
  .navlinks.open {
    
    z-index: 20px;
    right: 0; /* Slide in from the right when menu is open */
  }
.home{
    color:#000000;
    font-weight: 500;
    font-size: 18px;
}
.about{
    color:#000000;
    font-weight: 500;
    font-size: 18px;
}

.navlinks{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.register-btn{
    width: 15%
}
.banner-main{
    width: 100%;
    margin-top: 15px;
}
.banner-description-info{
    background-image: url('C:\Users\cloud\Desktop\Umall\src\assets\banner.png');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end
}
.banner-description{
    width: 55%;
    background: #0000005C;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 30px ;
}
.banner-head{
    font-size: clamp(0.875rem, 0.3804rem + 2.8261vw, 2.5rem);
    font-weight: 700;
    color: #FFFFFF;

}
.banner-text{
    width: 80%;
    font-size: clamp(0.75rem, 0.6739rem + 0.4348vw, 1rem);
    color: #FFFFFF;
    margin-top: 25px;
}
.learn-more-btn{
    color:  #000000;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
   padding-left: 30px;
   line-height: 18px;
   padding-right: 15px;
}
.heading-first{
    width: 90%;
    margin: auto;
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #151515 ;
}
.heading{
    color: #151515 ;
    width: 90%;
    margin: auto;
    font-size: 25px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 20px;
}
.shop-categories{
    width: 90%;
    margin: auto;
}
.slick-arrow.slick-prev{
    background-color: #f3f1f1;
    border-radius: 100%;
}
.slick-arrow.slick-next{
    background-color: #f3f1f1;
    border-radius: 100%;
}
.category-card-main-info{
    width: 100px;
    display: grid;
    grid-gap: 25px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* justify-items: center; */
    overflow-y: hidden;
    margin-bottom: 30px;
}

.card-info{
    display: flex;
    flex-direction: column;
   align-items: center;
   width: 100%; 
   padding-top: 15px;
}
.category-card-main{
    width: 100%;
}
.category-card-image{
    width: 100%;
    border-radius: 100%;
}
.category-name{
    color: #333232;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.shop-name{
    color: #c00f0f;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.near-by-card-main{
    width: 100%;
    height: 400px;
    position: relative;
   margin-top: 20px;
   /* padding-top: 25px;
   padding-bottom: 25px; */
   padding: 25px  20px;
}
.near-by-card-image{
    border-radius: 10px;
     width: 100%;
     height: 100%;
}
.near-shop{
    width: 90%;
    margin: auto;
}
.near-by-card-image-shadow{
  background-image: linear-gradient(white, black);
    opacity: 0.2;
    position: absolute;
    bottom: 0.2px;
    left: 0.2px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.near-by-card-description{
    position: absolute;
    bottom: 1px;
    left: 5px;
    bottom: 5px;
    /* left: 15px; */
    display: flex;
    flex-direction: column;
    

}
.small-text{
    padding-top: 10px;
    font-size: clamp(0.75rem, 0.6686rem + 0.4651vw, 1.25rem);
    font-weight: 500;
    color: #FFFFFF ;
}
.big-text{
    font-size: 25px;
    color: #FFFFFF;

}
.extra-small-text{
    font-size: 12;
    color: #BCBCBC;

}
.about-section{
    width: 90%;
    margin: auto; 
    margin-top: 60px;
}
.subscription-main-section{
    width: 90%;
    margin: auto; 
    margin-top: 30px;
}
.about-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-img{
    width: 40%;
  
}
.about-image{
    border-radius: 10px;
    width: 100%;
}
.about-description{
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.about-head{
    color: #151515;
    font-size: 24px;
    font-weight: 600;
}
.about-description-info{
    margin-top: 20px;
    font-size: 16px;
    color: #000000;

}


.features-section{
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  
}
.story-section{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.img-section{
    width: 45%;
  
}
.image-secton2{
    width: 45%; 
    padding-top: 100px;
}
.story-section2{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.feature-image{
    width: 100%;
}
.story-section-head{
    color: #151515 ;
    font-size: 24px;
    font-weight: 600;
}
.subscription-section.row{
    display: flex;
    justify-content: space-between;
}
.subscription-section{
    width: 100%;
    margin-bottom: 100px;
}
.subscription-card{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0.5px 12px   #a8a8a8  ;
    border-radius: 25px;
    border: none;
    padding: 20px 30px;
   
}
.subcription-card-info{
    width: 98%;
    margin: auto;
}
.subscription-status{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.subsrciptio-rate{
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 30px;
}
.price{
    font-size: 30px;
    font-weight: 900;
 
}
.month{
    font-size: 20px;
    font-weight: 500;
}
.subcription-points{
    display: flex;
    flex-direction: column;
}
.subcription-feature{
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    
}
.subcription-feature-msg{
    width: 150px;
    padding-left: 10px;
}
.subscription-button{
    background: #3E56A2;
    color: #FFFFFF80;
    padding: 5px 10px; 
    border: none;
    border-radius: 14px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}
.footer-section{
    width: 100%;
    background-color: #000000;
}
.footer-section-info{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.social-media-links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.social-media-icon{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 100%;
    font-size: 20px;
}
.logo-section{
    width: 33%;
}
.link-section{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;

}
.quik-link{
    font-size: 15px;
    font-weight: 100;
    padding-top: 20px;
}
.about-link{
    font-size: 20px;
    font-weight: 400;
 
}
.contact-us{
    font-size: 20px;
    font-weight: 400;
}
.contact-details-section{
    width: 33%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.contact{
    font-size: 15px;
    font-weight: 100;
    padding-top: 15px;
}
.footerlast-section{
    width: 100%;
    background-color: #000000;
    border-top: 2px solid  #5F5F5F;
    padding-top: 20px;
    padding-bottom: 20px;
}

.powered-by-section{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.powered-by{
    font-size: 16px;
    padding-left: 10px;
    color:  #8E8E8E;
}



  
 
.contact-form-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0.5px 12px   #a8a8a8  ;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
}

.contact-information-section{
    width: 40%;
    background-image: url('C:\Users\cloud\Desktop\Umall\src\assets\contactbg.png');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-information-section-info{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    color: white;
 
}
.contact-information-head{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 5px;
}
.contact-information-description{
    font-size: 16px;
    font-weight: 300;
    color: #C9C9C9;
}
.contact-information{
    font-size: 16px;
    font-weight: 300; 
    margin-top: 30px;
    display: flex;
}
.social-media--links{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 80px;
}
.social-icon{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 100%;
    font-size: 20px;
}

.contact-data{
    padding-left: 10px;
}


.contact-form-main{
    width:56% ;
    /* padding-top: 50px; */
}
.contact-form-details-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.small-input{
    width: 45%;
    padding-top: 40px;
}
.contact-form-address-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 60px;
}
.first-name{
    width: 100%;
}
.last-name{
    width: 100%;
}
.email{
    width: 100%;
}
.phone{
    width: 100%;
}
.form-address{
    width: 94%;
}
.save-btn{
    width: 97%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 10px;
  }
.save--btn{
    width: 200px;
    background-color: #3E56A2;
    border-radius: 5px;
    color:#FFFFFF;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
  /* registeration page */

.register-main{
    height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #3b3b3b;
padding-top: 30px;
padding-bottom: 35px;
position: relative;
}
.error-text{
    color: red;
}
.register-form-main{
    width: 55%;
    /* height: 500px; */
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.close-window{
    color: #ffffff;
    font-size: 20px;
     position: absolute;
     top: 20px;
     right: 30px;
}
.register-image{
    width: 45%;
    height: 450px;
    border-radius: 15px;
}
.reg-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.register-form{
    width: 45%;
    display: flex;
    flex-direction: column;
    /* height: 450px; */
    align-items: center;
}
.register-form-head{
    font-size: 25px;
    font-weight: 700;
}
.register-form-description{
    text-align: center;
    color: #000000B2;

}
/* .custom-input{
    width: 100%;
} */
.form{
    width: 100%;
}
.register-input{
    width: 100%;
    margin-top: 10px;
    height: 50px;
}
.input-field{
    width: 100%;
    height: 50px;
    background: #F4F4F4;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
}
.register-textarea{
    width: 100%;
    margin-top: 10px;
    height: 100px;
}
.text-field{
    width: 100%;
    height: 100px;
    background: #F4F4F4;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 55px;
    text-align: start;
}
.submit-button{
    width: 100%;
    margin-top: 20px;
}
.submit-btn{
    width: 100%;
    border: none;
    background-color: #3E56A2;
    color: #ffffff;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}










/* styles.css */
.categories{
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  
  .categories::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  
  .category-card {
    width: 100%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 100%;
  }
  
  .category-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  


  @media(max-width:1616px){
    .near-by-card-main{
        height: 360px;
    }
  }

  @media(max-width:1468px){
    .near-by-card-main{
        height: 320px;
    }
  }

@media(max-width:1232px){
    .near-by-card-main{
        height: 290px;
    }
    .banner-description{
        width: 60%;       
        top: 30px;
        right: 70px;
        padding: 25px ;
    }
}
@media(max-width:1200px){
    .social-media-links{
        width: 64%;
    }
    .near-by-card-main{
        height: 280px;
    }
}
@media(max-width:1020px){
    .learn-more-btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .near-by-card-main{
        height: 260px;
    }
}

@media(max-width:1020px){
    .banner-description{
        width: 65%;       
        bottom: 20px;
        right: 30px;

    }
}


@media(max-width:991px){
    .subscription-main-section{
       
        margin-top: 10px;
    }
    .heading{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .near-by-card-main{
        height: 240px;
    }
    .register-main{
        width: 100%;
       height: auto;
    }
    .register-image{
        width: 90%;
    }
    .register-form-main{
       flex-direction: column;
    }
    .register-form{
        width: 90%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home{
      text-align: center;
      padding-top: 15px;
      
    }
    .about{
        text-align: center; 
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav-links{
        width: 100%;
    }
    .navlinks {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -250px;                                                                         /* Initially hidden off-screen */
        width: 250px;                                                                         /* Adjust width as needed */
        height: 100%;
        background-color: #fff; /* Background color of the menu */
        transition: right 0.3s ease; /* Transition for smooth sliding animation */
        padding-top: 40px;
        z-index: 10;
      }
    .navlinks.open{
          padding-top: 40px;
      }
    .menu-btn{
        display: block;
        position: absolute;
        top: 25px;
        right: 40px;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
      
    }
   
    .register-btn{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .custom-button{
    width:100%;
    }
    .about-container{
        flex-direction: column;
    }
    .about-img{
        width: 100%;
    }
    .about-description{
        margin-top: 20px;
        width: 100%;
    }
    .features-section{
      flex-direction: column; 
     }
     .story-section{
        width: 100%;
    }
    .img-section{
        width: 100%;
        padding-top: 50px;
    }
    .image-secton2{
        width: 100%; 
        padding-top: 50px;
    }
    .story-section2{
        width: 100%;
    }
    .social-media-links{
        width: 80%;
    }
  .subscription-card{
    margin-top: 20px;
  }
}
@media(max-width:870px){
.near-by-card-main{
        height: 220px;
    }
}
@media(max-width:864px){
    
    .banner-description{
        width: 90%; 
        padding: 15px;
    }
    .banner-text{
        margin-top: 5px;
    }
}
@media(max-width:850px){
    .save-btn{
        width: 100%;
        justify-content: space-evenly;
    }
    .contact-information-section{
      margin: auto;
      margin-top: 10px;
    }
    .contact-form-section{
        flex-direction: column;
    }
    .contact-information-section{
        width: 98%;
        border-radius: 5px;
    }
   .contact-form-main{
    width: 100%;
   }
}
@media(max-width:795px){
    .near-by-card-main{
        height: 200px;
    }
}
@media(max-width:780px){
    .social-media-links{
        width: 80%;
    }
}
@media(max-width:750px){
    .social-media-links{
        width: 98%;
    }
}
@media(max-width:720px){
    .near-by-card-main{
        height: 190px;
    }
}
@media(max-width:634px){
    .subscription-card{
        width: 100%;
    }
}
@media(max-width:600px){
    .contact-form-address-section{
        width: 100%;
    }
    .small-input{
        width: 90%;
    }
    .form-address{
        width: 90%;
    }
    .register-image{
        height: 400px;
    }
    .save--btn{
        width: 90%;
        justify-content: space-evenly;
    }
}

@media(max-width:670px){
    .about-img{
        width: 100%;
    }
    .about-description{
        margin-top: 20px;
        width: 100%;
    }
    .img-section{
        width: 100%; 
    }
    .image-secton2{
        width: 100%; 
    }

}
@media(max-width:650px){ 
    .register-form-main{
        width: 65%;
    }
    .footer-section-info{
        flex-direction: column;
    }
    .logo-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link-section{
        width: 100%;
    }
    .contact-details-section{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .social-media-links{
        width: 40%;
        margin-bottom: 30px;
    }
    .save-btn{
        justify-content: space-evenly;
    }
}
@media(max-width:550px){ 
    .register-form-main{
        width: 75%;
    }
    .banner-description{
        margin-left: 30px;
    }
    .powered-by-section{
        flex-direction: column;
    }
    .powered-logo{
        margin-top: 10px;
    }
    .powered-by{
        padding-top: 10px;
        /* padding-bottom: 20px; */
    }
    .footerlast-section{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .register-image{
        height: 380px;
    }
   
}
@media(max-width:470px){
    .near-by-card-main{
        height: 160px;
    }
    .close-window{
         top: 5px;
         right: 8px;
    }
    .social-media-links{
        width: 50%;
        margin-bottom: 30px;
    }
 }
 @media(max-width:470px){
    .social-media-links{
        width: 60%;
        margin-bottom: 30px;
    } 
    .register-form-main{
        width: 90%;
    }
 }
 @media(max-width:450px){
    .menu-btn {
        top: 25px;
        right: 20px;
 }
}
@media(max-width:425px){
.near-by-card-main{
        height: 120px;
    }
}
 @media(max-width:380px){
    .register-image{
        height: 320px;
    }
    .powered-by-section{
        width: 100%;
    }
 }
 @media(max-width:315px){
    .social-media-links{
        width: 68%;
        margin-bottom: 30px;
    } 
    .register-form-main{
        width: 90%;
    }
 }
